body{
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}


/*Header CSS*/
.header{
    margin: 0 auto;
    padding: 1em;
    display: grid;
    background-color: #212d40;
    color: #f5f5dc;
    align-items: center;
    grid-template-rows: 1;
    grid-template-columns: 20% 10% 10% 10% 40% 5% 5%;
}

.header h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}
.header a{
    font-size: 1.125rem;
    color: #f5f5dc;
    text-decoration: none;
    text-align: center;
    }
.header form{
    width: 85%;
    justify-self: center;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    max-width: 409px;
    min-width: 300px;
}
.searchBar input{
    width: 85%;
    margin: 0 auto;
    padding: 1em 0em ;
    background-color: white;
    border: none;
    
}
.searchBar button{
    margin: 0 auto;
    padding: 0.950em 1em ;
    background-color: white;
    border: none;
    color: #8f8a89;
    
}
.search{
    margin: 0;
    padding: 0;
}
.shoppingCart{
    font-size: 1.4rem;
}
.user{
    font-size: 1.4rem;
}

/*Footer CSS*/
footer{
    margin: 0 auto;
    padding: 1em;
    display: flex;
    background-color: #212d40;
    color: #f5f5dc;
    justify-content: center;
}

footer h2{
    text-align: center;
    margin-right: 1em;
}
footer p{
    align-self: center;
    margin-left: 1em;
    opacity: 50%;
}

/*Homepage CSS*/
.homepage{
    padding: 1em 1em 1em 3rem;
    background-image: url("./assets/cropped-photo-basketball-player-holding-ball.jpg");
    height: 70vh;
    background-position: center;
    background-size: cover;
    color: #f5f5dc;
}
