body{
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}


/*Header CSS*/
.header{
    margin: 0 auto;
    padding: 1em;
    display: grid;
    background-color: #212d40;
    color: #f5f5dc;
    align-items: center;
    grid-template-rows: 1;
    grid-template-columns: 20% 10% 10% 10% 40% 5% 5%;
}

.header h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}
.header a{
    font-size: 1.125rem;
    color: #f5f5dc;
    text-decoration: none;
    text-align: center;
    }
.header form{
    width: 85%;
    justify-self: center;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    max-width: 409px;
    min-width: 300px;
}
.searchBar input{
    width: 85%;
    margin: 0 auto;
    padding: 1em 0em ;
    background-color: white;
    border: none;
    
}
.searchBar button{
    margin: 0 auto;
    padding: 0.950em 1em ;
    background-color: white;
    border: none;
    color: #8f8a89;
    
}
.search{
    margin: 0;
    padding: 0;
}
.shoppingCart{
    font-size: 1.4rem;
}
.user{
    font-size: 1.4rem;
}

/*Footer CSS*/
footer{
    margin: 0 auto;
    padding: 1em;
    display: flex;
    background-color: #212d40;
    color: #f5f5dc;
    justify-content: center;
}

footer h2{
    text-align: center;
    margin-right: 1em;
}
footer p{
    align-self: center;
    margin-left: 1em;
    opacity: 50%;
}

/*Homepage CSS*/
.homepage{
    height: 70vh;
    padding: 1em 1em 1em 3rem;
    background-image: url("./assets/cropped-photo-basketball-player-holding-ball.jpg");
    background-position: center;
    background-size: cover;
    color: #f5f5dc;
    align-content: center;
    background-color: gray;
    background-blend-mode: darken;
}
.homepage h1 {
     max-width: 550px;

}
.homepage button{
    display: inline-block;
    padding: 0.5em 2em;
    font-size: 1.4rem;
    font-weight: 600;
    color: #212d40;
    background-color: #f5f5dc;
}
.homepage button:hover{
    color: #f5f5dc;
    background-color: #212d40;
    transition: color 1.5s, background-color 1.5s;
}

/*Items CSS*/
.items{
    margin: 0 auto;
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    justify-content: center;
    
    
}
.item{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 68% auto auto auto auto;
    margin-top: 1em;
    justify-content: center;
    justify-self: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 350px;
    padding: 1em;
    

}
.item img{
    background-color: red;
    width: 100%;
    grid-column: 1/span 3;
    grid-row: 1;
    margin: 0;
    margin-bottom: 1em;
    max-width: 262px;
    max-height: 269px;
    object-fit: cover;
    justify-self: center;
    align-self: self-end;
}
.item h3{
    grid-column: 1/span 3;
    grid-row: 2;
    margin: 0;
    padding: 0;
    max-height: 26px;
}

.item p{
    grid-column: 1/span 3;
    grid-row: auto;
    margin: 0;
    margin-bottom: 0.5em;
}
/*Login/Register Form*/
.loginForm{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}
.login{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3em 1em;
    
    background: #212d40;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
}
.login-btn{
    margin: 0 auto;
    width: 105.6%;
    padding: 1em;
    background: #212d40;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    color: #f5f5dc;
}
.login input{
    max-width: 400px;
    width: 100%;
    margin-bottom: 3em;
    padding: 0.5em 1.5em 0.5em 1em;
    background-color: #f5f5dc;
    border: none;
    border-radius: 16px;
}

.login button{
    max-width: 400px;
    width: 50%;
    padding: 0.5em 1.5em 0.5em 0;
    background-color: #f5f5dc;
    border: none;
    border-radius: 16px;
}
.login-error{
    color: red;
    font-size: 1.4rem;
    font-weight: 600;
}
label{
    align-self:center;
    color: #f5f5dc;
}
a{
    text-decoration: none;
    color: inherit;
}
